<form [formGroup]="ruleSetFormGroup" (ngSubmit)="onSubmit(ruleSetFormGroup.value)">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="ruleSet">Regelset bearbeiten</mat-card-title>
      <mat-card-title *ngIf="!ruleSet">Regelset anlegen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        <mat-form-field appearance="standard">
          <mat-label>Name der Sammlung</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="ruleSetFormGroup.get('name')?.hasError('required')">
            Name ist <strong>notwendig</strong>
          </mat-error>
        </mat-form-field>
        <button mat-fab type="button" [disabled]="false" color="accent">Mo</button>
        <button mat-fab type="button" [disabled]="false" color="accent">Di</button>
        <button mat-fab type="button" [disabled]="false" color="accent">Mi</button>
        <button mat-fab type="button" [disabled]="false" color="accent">Do</button>
        <button mat-fab type="button" [disabled]="false" color="accent">Fr</button>
        <button mat-fab type="button" [disabled]="false" color="accent">Sa</button>
        <button mat-fab type="button" [disabled]="false" color="accent">So</button>
      </mat-card>
      <mat-card>
        <div formArrayName="setOfRulesWeekList" *ngFor="let setOfRules of setOfRulesWeekList.controls; index as i">
          <div [formGroupName]="i">
            <div>
              <mat-form-field>
                <mat-label>Name des Satzes</mat-label>
                <input matInput type="text" formControlName="name">
              </mat-form-field>
              <mat-checkbox formControlName="validMonday">Montag</mat-checkbox>
              <mat-checkbox formControlName="validTuesday">Dienstag</mat-checkbox>
              <mat-checkbox formControlName="validWednesday">Mittwoch</mat-checkbox>
              <mat-checkbox formControlName="validThursday">Donnerstag</mat-checkbox>
              <mat-checkbox formControlName="validFriday">Freitag</mat-checkbox>
              <mat-checkbox formControlName="validSaturday">Samstag</mat-checkbox>
              <mat-checkbox formControlName="validSunday">Sonntag</mat-checkbox>

              <button mat-fab type="button" (click)="removeSetOfRules(i)" color="warn">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div formGroupName="workingTimeSet">
              <mat-form-field appearance="standard">
                <mat-label>Min. bezahlte Zeit</mat-label>
                <input matInput type="time" formControlName="payedTimeMin" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Max. bezahlte Zeit</mat-label>
                <input matInput type="time" formControlName="payedTimeMax" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Min. Bruttozeit</mat-label>
                <input matInput type="time" formControlName="bruttoTimeMin" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Max. Bruttozeit</mat-label>
                <input matInput type="time" formControlName="bruttoTimeMax" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Max. Lenkzeit</mat-label>
                <input matInput type="time" formControlName="drivingTimeMax" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
              </mat-form-field>
            </div>
            <div formGroupName="breakTimeSet">
              <div>
                <mat-form-field appearance="standard">
                  <mat-label>Min. Kurzpausenzeit </mat-label>
                  <input matInput type="time" formControlName="shortBreakTimeMin" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Max. Kurzpausenzeit </mat-label>
                  <input matInput type="time" formControlName="shortBreakTimeMax" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Anzahl Kurzpausen</mat-label>
                  <input matInput type="number" formControlName="shortBreakTimeCount">
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Min. Pausenzeit </mat-label>
                  <input matInput type="time" formControlName="breakTimeMin" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Max. Pausenzeit </mat-label>
                  <input matInput type="time" formControlName="breakTimeMax" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Pausenlagenbeginn in %</mat-label>
                  <input matInput type="number" formControlName="startMainBreakLocation" max="100">
                </mat-form-field>

                <mat-form-field appearance="standard">
                  <mat-label>Pausenlagenende in %</mat-label>
                  <input matInput type="number" formControlName="endMainBreakLocation" max="100">
                </mat-form-field>
              </div>
              <div formArrayName="breakTimeRules" *ngFor="let btr of getBreakTimeRules(i).controls; index as j" >
                <div [formGroupName]="j">
                  <mat-form-field appearance="standard">
                    <mat-label>Von Arbeitszeit</mat-label>
                    <input matInput type="time" formControlName="startWorkingTime" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>Bis Arbeitszeit</mat-label>
                    <input matInput type="time" formControlName="endWorkingTime" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>Pausenzeit</mat-label>
                    <input matInput type="time" formControlName="sumBreakTime" min="00:01" max="12:45" pattern="[0-9]{2}:[0-9]{2}">
                  </mat-form-field>
                  <button mat-fab type="button" (click)="removeBreakTimeRules(i,j)" color="warn">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
              <div>
                <button mat-fab type="button" (click)="addBreakTimeRules(i)" color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button mat-fab type="button" (click)="addSetOfRules()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card>
        <div>
          <button mat-fab type="submit" color="primary">
            <mat-icon>save</mat-icon>
          </button>
        </div>

    </mat-card-content>
  </mat-card>
</form>
