mat-card {
  margin-bottom: 15px;
}
table {
  width: 50%;
  margin: auto;
}
form {
  min-width: 70%;
  width: 70%;
  margin: auto;
}
button, mat-checkbox, mat-form-field {
  margin-right: 10px;
}

#submit-travel-time-button {
  margin-left: 60px;
}
