<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav>
    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="duty-check" routerLinkActive="active">
        <mat-icon mat-list-icon>done_all</mat-icon>
        Dienstüberprüfung
      </a>
      <a mat-list-item routerLink="rule-set" routerLinkActive="active">
        <mat-icon>library_books</mat-icon>
        Prüfregeln
      </a>
      <a mat-list-item routerLink="admin" routerLinkActive="active">
        <mat-icon>account_box</mat-icon>
        Benutzerverwaltung
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="basic-data" routerLinkActive="active">
        <mat-icon mat-list-icon>train</mat-icon>
        Basisdaten
      </a>
      <a mat-list-item (click)="signOut()" routerLinkActive="active">
        <mat-icon mat-list-icon>logout</mat-icon>
        Abmelden
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="mat-elevation-z4" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Duty-Checker mit Angular | Hallo {{signedUserName}}
    </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
